@import "../../scss/variables";

svg {
  display: block;
  height: 5rem;
  width: 6rem;
  fill: $blue;
  transition: all ease-in-out 0.2s;
}

svg:hover {
  transform: translateY(-1rem);
  fill: $light-blue;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0 10vh 0;

  li {
    padding: 0 2vw 0 2vw;
  }

  #break {
    display: none;
  }
}

@media (max-width: $breakpoint-medium) {
  svg {
    height: 3.5rem;
    width: 4.5rem;
  }
}

@media (max-width: $breakpoint-small) {
  .links {
    flex-wrap: wrap;

    li {
      padding: 1vh 2vw 1vh 2vw;
    }
  }

  #break {
    display: block !important;
    flex-basis: 100%;
    height: 0;
  }
}
