@import "../../scss/variables";

.about {
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 10;
  margin-top: 225vh;

  .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: $dark-blue;

    h2 {
      color: $pink;
      padding-bottom: 2px;
      border-bottom: 2px $off-white solid;
      font-family: $type-base;
    }

    p {
      font-family: $type-heading;
      color: $pink;
      text-align: justify;
    }
  }

  .pic {
    width: 50%;
    padding: 70px;
    background-color: $pink;
    object-fit: cover;
  }
}

@media (max-width: $breakpoint-medium) {
  .about {
    margin-top: 239.5vh;
    flex-direction: column;

    .text {
      width: 100%;
    }

    .pic {
      width: 100%;
      padding: 100px;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .about {
    margin-top: 239.5vh;

    .pic {
      padding: 50px;
    }
  }
}
