@import "../../scss/variables";

li {
  display: flex;
}

.main {
  width: 100%;
  height: 100vh;
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;

  .navigation {
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    z-index: 10;
    margin-top: 0;
    padding: 5vh 5vw 0px 5vw;
    justify-content: flex-end;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    a {
      color: $off-white;
      line-height: normal;
      margin: 0px 2vw 0px 2vw;
      font-size: 1.75rem;
    }

    a:after {
      content: "";
      display: block;
      width: 0%;
      border-bottom: 0.5vh solid $off-white;
      transition: all ease-in-out 0.2s;
    }

    a:hover:after,
    a:focus:after {
      width: 100%;
    }
  }

  .mainPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: fixed;
  }

  .name {
    color: $off-white;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    font-family: $type-base;
    font-size: 9rem;
    padding: 2rem;
    text-align: center;
    margin: 0 auto 0 auto;
    transform: translateY(-50%);
    line-height: 0.9;
    letter-spacing: -0.3rem;
    text-shadow: 0vh 1.5vh 1.5vh #000000;
  }

  .secondPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 10;
    margin-top: 100vh;
  }

  .music {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    margin-top: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    transition: all ease-in-out 0.2s;
    background-color: rgba(0, 0, 0, 0.5);

    .musicHead,
    .musicListen {
      color: $off-white;
    }

    .musicHead {
      letter-spacing: -0.2rem;
    }

    .musicListen {
      border: 1px $off-white solid;
      margin: 0;
      padding: 1vh 10vw 1vh 10vw;
      font-family: $type-heading;
      font-style: italic;
      transition: all ease-in-out 0.2s;
    }

    .musicLink:hover .musicListen {
      background-color: $off-white;
      color: $dark-accent;
    }
  }

  .music:hover {
    opacity: 1;
  }
}

@media (max-width: $breakpoint-medium) {
  .hero {
    .navigation {
      a {
        font-size: 1.25rem;
      }
    }

    .name {
      font-size: 4rem;
      letter-spacing: -0.2rem;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .hero {
    .navigation {
      a {
        font-size: 1rem;
      }
    }

    .name {
      font-size: 3rem;
      line-height: 1;
      letter-spacing: -0.1rem;
    }

    .music {
      .musicHead {
        font-size: 1.25rem;
        letter-spacing: -0.1rem;
      }
    }
  }
}
